.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.inner-box {
  display: flex;
  height: 450px;
  width: 900px;
  background-color: #028858;
}

.inner-box img {
  margin-top: 50px;
  margin-left: 100px;
  height: 300px;
  width: 300px;
}

.right-panel {
  margin-top: 25px;
  margin-left: 140px;
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 0.4rem;
}

.title-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  margin-left: 20px;
  margin-top: 20px;
}

.title-text p {
  color: #028858;
}

.credentials {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  padding: 0 20px;
}

.email,
.pass {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background: #ececec;
  border-radius: 4.64062px;
  padding: 0 10px;
}

.email svg,
.pass svg {
  margin-right: 10px;
}

.input-holder {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.input-holder label {
  margin-top: 2px;
  font-size: xx-small;
  margin-left: 3px;
}
.pass .input-holder {
  max-width: 150px;
}
.pass {
  position: relative;
  display: flex;
  align-items: center;
}
.showPassword {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.input-holder input {
  border: none;
  background-color: #ececec;
  height: 22px;
  font-size: x-small;
  font-weight: 700;
  width: 100%;
}

.input-holder input:focus {
  outline: none;
  background-color: #ececec;
}
.forgot-password {
  font-size: x-small;
  display: flex;
  justify-content: flex-end;
}
.forgot-password a {
  color: #028858;
  text-decoration: none;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: #028858;
  padding: 0 10px;
  color: white;
  font-size: x-small;
  cursor: pointer;
  border: none;
}
.register {
  font-size: xx-small;
  display: flex;
  gap: 2px;
}
.register p {
  color: #028858;
  cursor: pointer;
}
.sign-up-alternate {
  display: flex;
  align-items: center;
  justify-content: center;
}
