.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
  }
  
  @media (max-width: 992px) {
    .project-card {
      flex: 0 0 calc(33.333% - 20px);
    }
    .project-list{
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .project-card {
      flex: 0 0 calc(50% - 20px);
    }
    .project-list{
      justify-content: center;
    }
  }
  
  @media (max-width: 576px) {
    .project-card {
      flex: 0 0 calc(100% - 20px);
    }
    .project-list{
      justify-content: center;
    }
  }
  